:root {
	--header-height: 100px;
	--footer-height: 100px;
}

* {
	margin: 0;
}

::-webkit-scrollbar {
	display: none;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	background-image: url(/img/about.png);
	background-size: cover;
}

/* HEADER */

header {
	height: var(--header-height);
	width: 100%;
	background-color: rgba(0, 0, 0, .75);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid black;
}

#headerLogo {
	/* background-image: url(/img/profile.jpg); */
	background-color: lime;
	object-fit: contain;
	background-position: center;
	height: 75px;
	width: 75px;
	margin: 0 0 0 12px;
	border-radius: 100px;
	transition: .3s all ease-in-out;
	border: 2px solid black;
}

#headerLogo:hover {
	cursor: pointer;
	border-color: dodgerblue;
}

nav {
	margin: 0 20px 0 0;
}

#navList {
	display: flex;
	flex-direction: row;
}

.navItem {
	list-style-type: none;
	margin: 0 10px 0 10px;
}

.navLink {
	color: white;
	text-decoration: none;
	font-family: arial;
	margin: 0 12px 0 0;
	font-size: 1.2rem;
	transition: .3s all ease-in-out;
	position: relative;
	text-shadow: 0px 1px 5px grey;
	text-transform: uppercase;
}

.navLink:hover {
	cursor: pointer;
	text-decoration-color: dodgerblue;
	color: dodgerblue;
}

/* MAIN */

main {
	min-height: calc(100% - var(--header-height) - var(--footer-height));
	display: flex;
	flex-direction: column;
}

.parallax {
	background-color: white;
}

.parallaxImage {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin: 0 auto 0 auto;
	min-height: auto;
	max-height: calc(100% - var(--header-height) - var(--footer-height));
	padding: 27% 0;
	/* height: 500px; */
	width: 100%;
	/* box-shadow: 0 5px 15px 5px black; */
}

.parallaxImage:hover {
	cursor: pointer;
}

.parallaxImage:last-of-type {
	margin: 0;
}

.parallaxTitle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(50, 50, 50, .65);
	padding: 1.2rem 1rem;
	/* border-radius: 5px; */
	color: white;
	text-decoration: none;
	font: 18px arial;
	transition: .3s all ease-in-out;
	text-transform: uppercase;
}

.parallaxTitle:hover {
	color: rgb(79, 165, 250);
	background-color: rgba(50, 50, 50, .75);
}

#parallaxWeb {
	background-image: url(/img/web.png);
}

#scrollTo3d::before {
	content: "//3d";
	color: white;
	font-size: 1.5rem;
	position: absolute;
	top: 70%;
	right: 5%;
}

#scrollToAbout::before {
	content: "//About";
	color: black;
	font-size: 1.5rem;
	position: absolute;
	top: 83%;
	right: 5%;
}

#parallax3d {
	background-image: url(/img/3d.png);
}

#parallaxAbout {
	background-image: url(/img/about.png);
}

footer {
	height: var(--footer-height);
	width: 100%;
	background-color: rgba(0, 0, 0, .75);
}

.copy {
	text-align: center;
	padding: 32px 0 0 0;
	color: white;
	text-shadow: 2px 1px 5px black;
	text-transform: uppercase;
	font-size: 16px;
}