:root {
	--header-height: 100px;
	--footer-height: 75px;
}

* {
	margin: 0;
}

body {
	height: 100vh;
}

header {
	height: var(--header-height);
	width: 100%;
	background-color: rgba(0, 0, 0, .65);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#headerLogo {
	background-color: black;
	height: 75px;
	width: 75px;
	margin: 0 0 0 12px;
	border-radius: 100px;
	transition: .3s all ease-in-out;
}

#headerLogo:hover {
	cursor: pointer;
	background-color: dodgerblue;
}

nav {
	margin: 0 20px 0 0;
}

#navList {
	display: flex;
	flex-direction: row;
}

.navItem {
	list-style-type: none;
	margin: 0 10px 0 10px;
}

.navLink {
	color: white;
	text-decoration: none;
	font-family: arial;
	margin: 0 12px 0 0;
	font-size: 1.2rem;
	transition: .3s all ease-in-out;
	position: relative;
}
/* Animated underline on links in nav... Not currently working
.navLink::before {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 10%;
	width: 80%;
	height: 2px;
	visibility: hidden;
	transform: scaleX(0);
	transition: .3s all ease-in-out;
}

.navLink:hover:before {
	visibility: visible;
	transform: scaleX(1);
} */

.navLink:hover {
	cursor: pointer;
	text-decoration-color: dodgerblue;
	color: dodgerblue;
}

main {
	min-height: calc(100% - var(--header-height) - var(--footer-height));
	display: flex;
	flex-direction: column;
}

.imageGrid {
	align-self: center;
	margin: 32px 0 32px 0;
	min-height: 400px;
	width: 80%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(1fr, auto);
	grid-gap: 18px;
	/* background-color: pink; */
}

.imageBox {
	min-height: 300px;
	/* border: 1px solid black; */
	background-color: darkslategray;
	border-radius: 5px;
}

.imageBox img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 5px 5px 0 0;
}

.imgText {
	text-align: center;
	margin: 18px 0 12px 0;
	color: white;
	text-shadow: 4px 2px 5px black;
	font-size: 1.2rem;
}

footer {
	height: var(--footer-height);
	width: 100%;
	background-color: rgba(0, 0, 0, .5);
}

.copy {
	text-align: center;
	padding: 16px 0 0 0;
}